* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

html,
body,
.container {
    width: 100%;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

header {
    height: 5em;
    align-items: center;
    background-color: #6f6f6f;
}

nav {
    justify-content: center;
    align-items: center;
}

nav button {
    width: 15%;
    padding: 1em;
    background-color: #fff;
    border: .02em solid #b7b7b7;
}

nav button:hover {
    background-color: #b7b7b7;
    color: #fff;
}

#home {
    background-image: url(../imgs/cg-home.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

#home h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: .05em .04em rgba(34, 52, 77, 0.80), .07em .04em rgba(34, 52, 77, 0.60), .09em .04em rgba(34, 52, 77, 0.40);
}

h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

#embroidery,
#video,
#about,
#contact {
    align-items: center;
    padding: 2em 0;
}

#embroidery div {
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

#embroidery div img,
#embroidery div p {
    width: 40%;
}

#video {
    background-color: #a0a0a0;
}

#video div {
    justify-content: center;
}

#about {
    justify-content: center;
}

#contact {
    width: 100%;
    justify-content: center;
}

form {
    align-items: center;
    width: 10%;
}

form input,
form textarea {
    width: 50%;
    margin: 1em 0;
    border: .1em solid #d6d6d6;
    padding: 1em;
    color: #d1d1d1;
    font-size: 1em;
}

form button {
    margin-left: 46em;
    padding: .5em 1em;
    background-color: #d6d6d6;
    border: 0;
    
}

footer {
    justify-content: center;
    background-color: #434343;
    color: #fff;
    padding: 2em 0;
}
