/* Parámetros generales */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

html,
body,
.container {
    width: 100%;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

#embroidery,
#video,
#about,
#contact {
    align-items: center;
    padding: 10em 0 4em;
}


/* CABECERA */

header {
    height: 5em;
    align-items: center;
    justify-content: center;
    background-color: #35374d;
    position: fixed;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

nav {
    justify-content: flex-end;
    align-items: center;
}

nav a {
    width: 10%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 2em 1em;
}

nav a:hover {
    background-color: #b7b7b7;
    color: #fff;
}


/* menu para mobil oculto */

.menu-mobil {
    display: none;
    margin: 0 5%;
}


/* SECCION HOME */

#home {
    background-image: url(../imgs/cg-home.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 18% 0 10%;
}

#home h1 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    text-shadow: .05em .04em rgba(34, 52, 77, 0.80), .07em .04em rgba(34, 52, 77, 0.60), .09em .04em rgba(34, 52, 77, 0.40);
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    font-family: sans-serif;
    color: #656565;
}


/* SECCION EMBROIDERY */

#embroidery div {
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

#embroidery div img,
#embroidery div p {
    width: 40%;
}


/* SECCION VIDEO */

#video {
    background-color: #a0a0a0;
    color: #fff;
}

#video div {
    justify-content: center;
    width: 60%;
    padding-bottom: 10%;
}

iframe {
    width: 100%;
}


/* SECCION ABOUT */

#about {
    justify-content: center;
}


/* SECCION CONTACT */

#contact {
    width: 100%;
    justify-content: center;
}

form {
    align-items: center;
    width: 10%;
}

form input,
form textarea {
    width: 50%;
    margin: 1em 0;
    border: .1em solid #d6d6d6;
    padding: 1em;
    font-size: 1em;
}

form button {
    margin-left: 40%;
    padding: .8em 2em;
    background-color: #d6d6d6;
    border: 0;
}

form button:hover {
    background-color: #35374d;
    color: white;
}


/* PIE DE PAGINA */

footer {
    justify-content: center;
    background-color: #696969;
    color: #fff;
    padding: 2em 0;
}


/*Parámetros versión mobil VISIBLE*/

@media (min-width:0px) and (max-width:480px) {
    #menu {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    .menu-mobil {
        display: inline-block;
        margin-right: 5%;
    }
    h1 {
        font-size: 2em;
        color: aqua;
    }
    h2 {
        font-size: 1.5em;
    }
    #embroidery {
        display: none;
    }
    #video {
        background-color: #fff;
    }
    #contact {
        background-color: #a0a0a0;
    }
}
